
 
*,
*:after, *:before{

    box-sizing: border-box;
} 
img{
    max-width: 100%;
}
body{
    background: #333;
}
.section-card{
    width: 80%;
    margin: 0 auto;
    
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35rem;
    
}
.card{
    width: 15rem;
    margin: 2rem;
    position: relative;
}
.card-up{
    padding: 1rem;
    box-shadow: 0px 6px 30px;
    z-index: 10;
    
}
.img{
    opacity: .3;
}
.link{
    text-align: center;
    font-size: 1.2rem;
    font-family: sans-serif;
    color: #555;
    text-transform: capitalize;
}
.card-down {
    background: #fff;
    position: relative;
    box-sizing: border-box;
    background: red;
    overflow: hidden;
    height: 200px
}
.container-text{
    height: 0px;
}
.container-img:hover .container-img{
    cursor: pointer;
}


.text{
    
    margin: 0;
    padding: 1rem;

  

}